/*
Reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
Variables
*/

:root {
  --bg-main: #0084fd;
  --bg-debug: #b5ddff;
  --bg-section: #9792e4;
}

/*
Common
*/

.container {
  padding: 0 1.875rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

section {
  padding: 3.125rem 0;
}

section.bg-section {
  background-color: var(--bg-section);
}

/*
Header
*/

header {
  background-color: var(--bg-main);
}

.logo,
.menu {
  background-color: var(--bg-debug);
  padding: 1.25rem;
}

/*
Main
*/

.col {
  margin-bottom: 1.5625rem;
  padding: 0 0.9375rem;
}

.content {
  background-color: var(--bg-debug);
  height: 100%;
  padding: 1.25rem;
}

.row {
  margin: 0 -0.9375rem;
}

/*
Responsive
*/

/* da 768px in su */
@media screen and (min-width: 768px) {
  .container {
    max-width: 740px;
  }

  .col {
    width: calc(100% / 3);
  }

  .col.main-col {
    width: calc((100% / 3) * 2);
  }
}
/* da 992px in su */
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  /* planning */

  #planning .columns {
    display: flex;
  }
}

/* da 992px in su */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  /* planning */

  #planning .col {
    padding: 0 130px 0 125px;
    width: calc(50% - 4rem);
    margin-left: 2rem;
    margin-right: 2rem;
  }

  #planning .columns {
    max-width: 940px;
  }
}
